<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <title>Bookstore</title>
</head>
<body>

        <nav class="ui menu huge">
            <div class="ui container">
                    <div class="header item">
                            <i class="paper plane icon"></i>
                              Bookstore
                         </div>
                         <a href="/books" class="item">Home</a>
                         <a href="/books/new" class="item">New Book</a>
         
            </div>
            
            </nav>
